<meta charset='UTF-8'> <!-- 文字コード -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js'></script><!-- Vue.jsの読み込み -->

<!-- <script>
素のJSはfor文で引数使える？
var array = { apple:10, banana:20, melon:30, grape:40}
for(key,value in array){ //第二引数を指定するとエラー
	console.log(key)
}
</script> -->




<!-- フルーツ -->
<!-- <ul id='box'>
  <li v-for='(item, num) in items'>
    {{ category }}{{ num }} - {{ item.fruit }}
  </li>
</ul>
<button @click='add'>追加</button>

<script>
var mine = new Vue({
  el: '#box',
  data: {
  	category: '果物',
    items: [
      { fruit: 'りんご' },
      { fruit: 'みかん' },
      { fruit: 'ばなな' }
    ]
  },
  methods: {
  	add: function(){
			mine.items.push({ fruit: 'パイナップル' })
  	}
  }

})

</script> -->



<!-- テストの点数 -->
<!-- <ul id='box' class='demo'>
  <li v-for='(value, key, i) in item' :key='key'>
    {{ value }}
  </li>
</ul>

<script>
var mine = new Vue({
  el: '#box',
  data: {
    item: {
      kokugo: 20,
      sansu: 100,
      rika: 30
    }
  }
})

</script> -->


<!-- 見本 -->
<!-- <div id="app">
  <input type="number" v-model="number_01">
  <input type="number" v-model="number_02">
  <div :class="{isActive: isActive}">{{ sum }}</div>
  <button v-on:click="isActive = !isActive">赤く</button>
</div>
 
<script>
  new Vue({
    el: "#app",
    data: {
      number_01: '',
      number_02: '',
      isActive: false
    },
    computed: {
      sum() {
        return Number(this.number_01)+ Number(this.number_02);
      }
    }
  })
</script>
<style>
  .isActive {
    color: red;
  }
</style>
 -->


<!-- 左と右の入力欄を合体　スイッチも -->

<div id='box'>
	<input v-model='left'>
	<input v-model='right'>
	<div :class='{red: switch_on}'>{{ sum }}</div>
	<button v-on:click='switch_on = !switch_on'>赤く</button>
</div>
 
<script>
new Vue({
	el: '#box',
	data: {
		left: 0,
		right: 0,
		switch_on : false
	},
	computed: {
		sum(){
			return this.left + this.right
		}
	}
})

</script>
<style>
  .red {
    color: red;
  }
</style>